src/modules/twitchirc/connectionSettings.txt
src/modules/pastebin/pastebinSettings.txt
src/modules/twitter/twitterSettings.txt
src/modules/mariomaker/currentLevel.txt
src/modules/mariomaker/queueOpen.txt